body{
    background-color: #ecf2f7;
    
}
@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('./font/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('./font/vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
main{
    display: grid;
    justify-items: center;
}
#terminal {
    display: flex;
    text-align: center;
    height: 50px;
    width: 50%;
    border: 2px;
    border-style: solid;
    border-color: black;
    font-family: 'vcr_osd_monoregular';
    background: rgb(107,120,103);
    background: linear-gradient(90deg, rgba(107,120,103,1) 0%, rgba(164,179,160,1) 51%, rgba(107,120,103,1) 100%);
}
#teclado {
    height: 400px;
    width: 400px;
    background-color: #e0e4e7;
    border-style: solid;
    margin-top: 10px;
    padding: 10px;
}
button {
    background-color: #262a30;
    color: #f5fffe;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
button:active {
    transform: translateY(5px);
}
#btnconfirma {
    background-color: #7cda86;
    font-size: 24px;
}
#btncorrige{
    background-color: #fe5f00;
    font-size: 24px;
    padding: 30px;
}
.btns {
    display: flex;
    column-gap: 15px;
    margin: 10px;
    row-gap: 15px;
    justify-content: center;
}