*{
    box-sizing: border-box;
    padding: 2px;
    margin: 4px;
  }
  
  body {
    margin: 10px auto;
    font-size: 1em;
    text-align: center;
  }
  
  ul {
    padding-top: 20px;
    display: flex;
    gap: 5rem;
  }
  
  li {
    margin: 0,5rem 0;
  }
  
  legend {
    margin: 10px auto;
  }
  